@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}

header {
  background-color: unset;
  padding-bottom: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

  .hamburgerLinks a {
    @include for-tablet-landscape-up {
      color: #000;

      &:hover {
        color: #000;
      }
    }
  }
}

.holder {
  margin: 30px auto;
  max-width: 1200px;
  text-align: center;
  font-size: 20px;

  @include for-tablet-landscape-up {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    height: 67vh;
  }

  .first {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    padding: 20px 0 0 0;

    @include for-tablet-landscape-up {
      margin: 0 80px 0 0;
      padding: unset;
      justify-content: center;
    }

    @include for-desktop-up {
      margin-right: 200px;
    }

    div:first-child {
      margin-bottom: 15px;

      @include for-tablet-landscape-up {
        margin-bottom: 50px;
      }

      a {
        display: inline-block;
        font-weight: bold;
        font-size: 24px;

        &:hover {
          &::after {
            width: 100%;
          }
        }

        &::after {
          content: "";
          display: block;
          width: 0;
          height: 2px;
          background: #000;
          transition: width 0.2s ease-in;
          margin-top: 3px;
        }
      }
    }

    div > span > a > i {
      font-size: 25px;
      margin-right: 10px;

      &:hover {
        color: #000;
        transform: scale(1.3, 1.3);
      }
    }
  }

  .second {
    @include for-tablet-landscape-up {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 30px;
    }

    .adresa {
      margin-bottom: 15px;
    }

    .mapHolder {
      height: 500px;
      border: 0;

      @include for-tablet-landscape-up {
        height: 400px;
      }
    }
  }
}

iframe {
  height: 100%;
  width: 100%;
  border: 0;
  outline: none;
}
