* { margin: 0; padding: 0; -webkit-box-sizing: border-box; box-sizing: border-box; }

html, body { width: 100%; overflow-x: hidden; }

body { background-color: #fff; line-height: 1.4; font-size: 16px; color: #000; }

header { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding: 10px 10px 0 10px; background-color: #0087a1; }

header img { width: 60px; height: 70px; }

@media (min-width: 900px) { header img { width: 80px; height: 90px; } }

header nav { position: relative; cursor: pointer; height: 0; }

header nav .hamburgerIcon { display: block; font-size: 22px; margin: 20px 10px 0 0; }

@media (min-width: 900px) { header nav .hamburgerIcon { display: none; } }

.hamburgerLinks { display: none; position: absolute; right: 8px; z-index: 1; min-width: 160px; -webkit-box-shadow: 1px 1px 4px #000; box-shadow: 1px 1px 4px #000; text-align: center; background-color: #4f4039d7; }

.hamburgerLinks a { display: block; padding: 10px 25px; color: #ffffffa1; }

.hamburgerLinks a:hover { background-color: #fff; color: #000; }

@media (min-width: 900px) { .hamburgerLinks { display: block; position: unset; min-width: unset; -webkit-box-shadow: unset; box-shadow: unset; background-color: transparent; margin-top: 20px; }
  .hamburgerLinks a { display: inline-block; font-size: 19px; }
  .hamburgerLinks a:hover { background-color: unset; color: #fff; }
  .hamburgerLinks a:hover::after { width: 100%; }
  .hamburgerLinks a::after { content: ""; display: block; width: 0; height: 2px; background: #000; -webkit-transition: width .2s ease-in; transition: width .2s ease-in; margin-top: 3px; } }

#usluge { height: 300px; }

#smestaj { height: 300px; }

footer { height: 300px; background-color: #333; }

a { text-decoration: none; }

img { width: 100%; height: auto; display: block; }

.getRidOf { position: absolute; top: -9999px; right: -9999px; }

#preload-01 { background: url(/img/hero/heroImg-compressed.jpg) no-repeat -9999px -9999px; }

#preload-02 { background: url(/img/hero/heroImg2-compressed.jpeg) no-repeat -9999px -9999px; }

.active { display: block; }
