// VARIABLES
@mixin for-phone-only {
    @media (max-width: 599px) {
        @content;
    }
}

@mixin for-tablet-portrait-up {
    @media (min-width: 600px) {
        @content;
    }
}

@mixin for-tablet-landscape-up {
    @media (min-width: 900px) {
        @content;
    }
}

@mixin for-desktop-up {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin for-big-desktop-up {
    @media (min-width: 1800px) {
        @content;
    }
}

// GLOBAL STYLES
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
}

body {
    background-color: #fff;
    line-height: 1.4;
    font-size: 16px;
    color: #000;
}



// LAYOUT
header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 10px 0 10px;
    background-color: #0087a1;

    img {
        width: 70px;
        height: 90px;

        @include for-tablet-landscape-up {
            width: 90px;
            height: 110px;
        }
    }

    nav {
        position: relative;
        cursor: pointer;
        height: 0;

        .hamburgerIcon {
            display: block;
            font-size: 22px;
            margin: 27px 10px 0 0;

            @include for-tablet-landscape-up {
                display: none;
            }
        }


    }
}

.hamburgerLinks {
    display: none;
    position: absolute;
    right: 8px;
    z-index: 1;
    min-width: 160px;
    box-shadow: 1px 1px 4px #000;
    text-align: center;
    background-color: #4f4039d7;

    a {
        display: block;
        padding: 10px 25px;
        color: #ffffffa1;

        &:hover {
            background-color: #fff;
            color: #000;
        }


    }

    @include for-tablet-landscape-up {
        display: block;
        position: unset;
        min-width: unset;
        box-shadow: unset;
        background-color: transparent;
        margin-top: 25px;

        a {
            display: inline-block;
            font-size: 19px;

            &:hover {
                background-color: unset;
                color: #fff;

                &::after {
                    width: 100%;
                }
            }

            &::after {
                content: "";
                display: block;
                width: 0;
                height: 2px;
                background: #000;
                transition: width .2s ease-in;
                margin-top: 3px;
            }
        }
    }
}

// Header END

.usluge {
    margin: 10px 0;

    h2 {
        text-decoration: underline 2px;
        text-align: center;
    }

    &__tekst {
        padding: 0 0 0 12px;
        margin: 0 auto;

        ul {
            list-style-type: "-";

            li {
                margin-top: 3px;
            }
        }

        .firstUl {
            font-weight: bold;
        }

        .podUl {
            margin-left: 15px;
            text-align: left;
        }

        .holder1 {
            margin: 15px auto 0 auto;
            max-width: 350px;
            font-size: 17px;
            background-color: rgba(243, 212, 194, 0.301);
            border-radius: 20px;
            padding: 10px;
        }

        .middleUl p {
            font-weight: bold;

            &::before {
                content: "-";
                margin: 0 2px 0 -8px;
            }
        }

        .holder2 {
            margin-top: 30px;
        }
    }

    .container {
        max-width: 920px;
        margin: 0 auto;
    }
}

@media all and (min-width: 750px) {
    .holder1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: unset !important;
        text-align: unset !important;
        background-color: unset !important;
        border-radius: unset !important;
        padding: unset !important;

        & div:first-of-type {
            width: 230px;
        }

        & div:last-of-type {
            width: 300px;
        }

        div {
            background-color: rgba(243, 212, 194, 0.301);
            border-radius: 20px;
            padding: 10px;
            border: 1px solid black;
            margin: 0 3px 0 0;
        }
    }
}

#smestaj {
    .flex {
        div {
            margin: 3px;
        }
    }
}

@media all and (min-width: 750px) {
    .flex {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 920px;
        margin: 0 auto;
    }

    .flex img {
        height: 394px;
    }
}

.footer {
    background-color: #947c4c;
    position: relative;
    height: 125px;
    overflow: hidden;

    @include for-tablet-landscape-up {
        height: 145px;
    }

    &__container {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        @include for-tablet-portrait-up {
            width: 600px;
        }

        img {
            width: 80px;
            height: 100px;

            @include for-tablet-landscape-up {
                width: 110px;
                height: 130px;
            }
        }

        .tekst {
            display: flex;
            flex-direction: column;
            margin-left: 20px;
            color: #ffffff;
            padding-top: 5px;

            span {
                margin-top: 3px;
            }

            a {
                font-size: 20px;
                color: #ffffff;

                &:hover {
                    &::after {
                        width: 100%;
                    }
                }

                &::after {
                    content: "";
                    display: block;
                    width: 0;
                    height: 2px;
                    background: #000;
                    transition: width .2s ease-in;
                }
            }

            @include for-tablet-landscape-up {
                margin-left: 35px;
            }
        }
    }

    small {
        font-size: 12px;
        color: #ddd;
        position: absolute;
        right: 0;
        bottom: 0;
    }
}










// SPECIFIC STYLES
a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
    display: block;
}







// HELPER CLASSES
.getRidOf {
    position: absolute;
    top: -9999px;
    right: -9999px;
}

#preload-01 {
    background: url(/img/hero/heroImg-compressed.jpg) no-repeat -9999px -9999px;
}

#preload-02 {
    background: url(/img/hero/heroImg2-compressed.jpeg) no-repeat -9999px -9999px
}

.active {
    display: block;
}