// VARIABLES
@mixin for-phone-only {
    @media (max-width: 599px) {
        @content;
    }
}

@mixin for-tablet-portrait-up {
    @media (min-width: 600px) {
        @content;
    }
}

@mixin for-tablet-landscape-up {
    @media (min-width: 900px) {
        @content;
    }
}

@mixin for-desktop-up {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin for-big-desktop-up {
    @media (min-width: 1800px) {
        @content;
    }
}

// GLOBAL STYLES
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
}

body {
    background-color: #fff;
    line-height: 1.4;
    font-size: 16px;
    color: #000;
}

header {
    width: 100%;
}



// LAYOUT
header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 10px 0 10px;
    background-color: #0087a1;

    img {
        width: 60px;
        height: 70px;
    }

    nav {
        position: relative;
        cursor: pointer;
        height: 0;

        .hamburgerIcon {
            display: block;
            font-size: 22px;
            margin: 20px 10px 0 0;
        }

        .links {
            display: none;
            position: absolute;
            right: 8px;
            z-index: 1;
            min-width: 160px;
            box-shadow: 1px 1px 4px #000;
            text-align: center;
            background-color: #4f4039d7;

            a{
                display: block;
                padding: 10px 25px;
                color: #ffffffa1;

                &:hover{
                    background-color: #fff;
                    color: #000;
                }
            }
        }
    }
}

















.my-box {
    padding: 10px;

    @include for-phone-only {
        padding: 20px;
    }
}




// SPECIFIC STYLES
a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

// HELPER CLASSES